header h1{
    text-align: center;
    color: white;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcWow-I-AuAVQmGXXlQNl7GsYyRwRlUt3E1A&s);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    border-radius: 20px;
    border: 2px solid black;
}

.outlined-text{
    font-size: 48px;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    font-family: cursive;
}

h3{
    font-size: 30px;
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.375);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding-bottom: 30px;
}

p{
    font-size: 30px;
    font-family: monospace;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.288);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: black;
}

h2{
    font-size: 50px;
    font-family: cursive;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(131, 197, 219);
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
    border: 2px solid black;
    color: aliceblue;
    text-align: center;
}

html{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0CPeqJuUuRljxmGFovMJBjhlpXv73M7ws0Q&s);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
